name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    environment: ProgDBIII-CarteiraWeb-ENV

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '19'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          context: /home/runner/work/DBIII-CarteiraWeb/DBIII-CarteiraWeb
          file: Dockerfile
          tags: gmod9k/carteira-web:latest

      - uses: appleboy/scp-action@master
        with:
          debug: true
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          source: "."
          target: "/home/runner/work/DBIII-CarteiraWeb/DBIII-CarteiraWeb"

      - name: Build on SSH
        uses: appleboy/scp-action@master
        with:
          debug: true
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/runner/work/DBIII-CarteiraWeb/DBIII-CarteiraWeb
            mvn clean package         
