name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest

    services:
      db:
        image: mysql:5.7
        env:
          MYSQL_USER: ${{ vars.MYSQL_USER }}
          MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
          MYSQL_DATABASE: ${{ vars.MYSQL_DATABASE }}
          MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}

    env:
      spring.datasource.url: ${{ vars.SPRING_DATASOURCE_URL }}
      spring.datasource.username: ${{ vars.SPRING_DATASOURCE_USERNAME }}
      spring.datasource.password: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
      jwt.secret: ${{ secrets.JWT_SECRET }}
      spring.jpa.hibernate.ddl-auto: ${{ vars.HIBERNATE_DDL }} 

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '19'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Build and push Docker image
        run: |
          docker build -t carteira-web:latest -f .
          docker tag carteira-web:latest gmod9k/carteira-web:latest
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push gmod9k/carteira-web:latest
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
