name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest

    services:
      db:
        image: mysql:5.7
        env:
          MYSQL_USER: ides
          MYSQL_PASSWORD: ides
          MYSQL_DATABASE: pg3_carteira
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306

    env:
      spring.datasource.url: jdbc:mysql://db:3306/pg3_carteira?useTimezone=true&serverTimezone=UTC
      spring.datasource.username: ides
      spring.datasource.password: ides
      spring.jpa.properties.hibernate.dialect: org.hibernate.dialect.MySQLDialect
      spring.jpa.hibernate.ddl-auto: update 
      jwt.secret: progdbiii2023
      spring.main.allow-circular-references: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '19'
          distribution: 'temurin'

      - name: Pwd before Build
        run: |
          pwd
          ls

      - name: Build with Maven
        run: mvn clean package

      - name: Pwd after Build
        run: |
          pwd
          ls

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Pwd Deploy
        run: |
          pwd
          ls
    
      - name: Build and push Docker image
        run: |
          docker build -t carteira-web:latest -f /home/runner/work/DBIII-CarteiraWeb/DBIII-CarteiraWeb/ .
          docker tag carteira-web:latest gmod9k/carteira-web:latest
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push gmod9k/carteira-web:latest
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
